{% extends "base.html" %}

{% block content %}
<h3> E-Library</h3>
<form id="custom-search-form" class="form-search form-horizontal pull-right" action="/home" method="post">
	<div class="input-append span12">
  		<input type="text" class="search-query" placeholder="Search" name="search">
		<button type="submit" class="btn"><i class="icon-search"></i></button>
	</div>
</form>
{% if books %}
	{% for book, authors in books.items() recursive %}
		<h4> {{ book.title }} </h4>
		<p> Author(s) </p> 
		<ul>
		{% for author in authors %}
			<li> {{ author.name }} </li>
		{% endfor %}
		</ul>
	{% endfor %}
{% else %}
	<p> Results not found </p>
{% endif %}
<a href="/logout">Exit</a>
{% endblock %}