{% extends "base.html" %}
{%block content%}

{% if not user %}
<form action="" method="post">
	<table align="center">
	<tr>
		<td> <h3> E-Library</h3> </td>
	</tr>
	{% for field in authform %}
		<tr>
			<td> {{ field.label}} </td>
			<td> {{ field}} </td>
		</tr>
		<tr>
			<td colspan="2">
				    {% for error in field.errors %}
				      	<div class="alert alert-error">
						 	{{ error }}
						</div>
				    {% endfor %}
			</td>
		</tr>
    {% endfor %}   
    <tr>
    	<td> <p> <input type="submit" value="Sign In" class="btn btn-primary"> <p> </td>
    </tr>
    <tr>
    	<td>
    		<a href="/registration"> Registration </a>
			{% else %}
			<table align="center">
				<tr>
					<td> <h3> E-Library</h3> </td>
				</tr>
				<tr>
					<td>
						<p> 
							You are logged in the system. 
							{% if user.is_staff %}
								<a href="/admin"> To home page </a>
							{% else %}
								<a href="/home"> To home page </a>
							{% endif %}
						 </p>
						<p> <a href="/logout"> Exit </a></p>
					</td>
				</tr>
			
			</table>
			{% endif %}
    	</td>
    </tr>
    </table>
    
</form>

{% endblock %}