{% extends "base.html" %}
{%block content%}
<h3> E-Library</h3>
{% if not user %}
<form action="" method="post">
	<table>
	{% for field in authform %}
		<tr>
			<td> {{ field.label}} </td>
			<td> {{ field}} </td>
		</tr>
		<tr>
			<td colspan="2">
				    {% for error in field.errors %}
				      	<div class="alert alert-error">
						 	{{ error }}
						</div>
				    {% endfor %}
			</td>
		</tr>
    {% endfor %}   
    </table>
    <p> <input type="submit" value="Sign In" class="btn btn-primary"> <p>
</form>
<a href="/registration"> Registration </a>
{% else %}
<p> 
	You are logged in the system. 
	{% if user.is_staff %}
		<a href="/admin"> To home page </a>
	{% else %}
		<a href="/home"> To home page </a>
	{% endif %}
 </p>
<p> <a href="/logout"> Exit </a></p>
{% endif %}
{% endblock %}