{% extends "base.html" %}
{% block content %}
<form action="" method="POST">
	
	<table align="center">
	<tr>
		<td> <h3> Registration </h3> </td>
	</tr>
	{% for field in form %}
		<tr>
			<td> {{ field.label}} </td>
			<td> {{ field}} </td>
		</tr>
		<tr>
			<td colspan="2">
				<ul class=errors>
				    {% for error in field.errors %}
				    <li>
				      	<div class="alert alert-error">
						 	 {{ error }} 
						</div>
					</li>
				    {% endfor %}
		    	</ul>
			</td>
		</tr>
    {% endfor %}   
    <tr>
    	<td> <input type="submit" value="Sign Up" class="btn btn-primary"> </td>
    </tr>
    <tr>
    	<td> 
    		<p> </p> 
    		<a href="/"> Back to main page </a>  
    	</td>
    </tr>
    </table>
</form>


{% endblock %}